extends layout
block header
    link(rel="stylesheet", href="/css/header.css")
    header
        div(class="container")

            div(class="header-menu-container")
                
                div(class="header-menu-item")
                    a(href="/user/getUser")
                            div(class="header-menu-item-image")
                                div
                                    i(class="fas fa-user")
                            div(class="header-menu-item-title") Dati utente

                div(class="header-menu-item")
                    a(href="/user/getPassword")
                            div(class="header-menu-item-image")
                                div
                                    i(class="fas fa-key")
                            div(class="header-menu-item-title") Modifica password

                div(class="header-menu-item")
                    a(href="/marker")
                            div(class="header-menu-item-image")
                                div
                                    i(class="far fa-calendar-alt")
                            div(class="header-menu-item-title") Timbrature