doctype html
html
    head
        title=title
        link(rel="stylesheet", href="/css/pminel.css")
        script(src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
        
        script(src="/js/jquery.min.js")
        script(src="/js/util.js")
        script(src="/js/message.js")
        script(src="/js/form.js")

    body
        block header

        div(class="message-mask")
        div(class="message")

        block content