extends layout/header
block content

    div(class="section")
        div(class="container")

            div(class="page-wrapper")

                div(class="page-main")
                    h2 Modifica password

                    <pm-form action="/user/doUpdatePassword">
                        <pm-form-input label="Password attuale", type="password", name="act-pwd", required="required"></pm-form-input>
                        <pm-form-input label="Nuova password", type="password", name="new-pwd", required="required"></pm-form-input>
                        <pm-form-input label="Conferma nuova password", type="password", name="new-pwd-confirm", required="required"></pm-form-input>
                        <pm-form-button class="blue" label="Modifica password"></pm-form-button>
                    </pm-form>

                div(class="page-right")