doctype html
html
    head
        title=title
        link(rel="stylesheet", href="/css/pminel.css")
        script(src="https://use.fontawesome.com/releases/v5.0.4/js/all.js")
    body
        block header
        block content