extends ../header
block content

    div(class="section")
        div(class="container")

            div(class="page-wrapper")

                div(class="page-main")
                    h2 Dati marcature

                    a(class="button brown" href="/marker/add") Nuova marcatura

                div(class="page-right")
